.header {
  display: flex;
  width: 100%;
  background-color: #e6f6fe;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-radius: 10px;
  margin-top: 40px;
  /* padding-right: 41px;
  padding-left: 41px; */
}

.links {
  display: flex;
  gap: 38px;
}
.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book-now {
  border-radius: 10px;
  background: #1376f8;
  width: 150px;
  height: 55px;
}
