.header {
  display: flex;
  width: 100%;
  background-color: #e6f6fe;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-radius: 10px;
  margin-top: 40px;
}

.links {
  display: flex;
  gap: 38px;
}
.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 40px;
}

.book-now {
  border-radius: 10px;
  background: #1376f8;
  width: 150px;
  height: 55px;
}

.img-header {
  display: flex;
  margin-left: 40px;
}

.border {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  flex-grow: 1;
}

.container-picture {
  position: relative;
}

.circle-green {
  position: absolute;
  background: #17bf28;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: #e6f6fe;
  border-style: solid;
  right: 0px;
  top: 0px;
}

.h1-main {
  width: 687px;
  height: 148px;
  font-size: 62px;
}
.p-main {
  width: 531px;
  height: 84px;
  font-size: 18px;
}

.book-an-appointment {
  display: flex;
  font-size: 14px;
  color: #e6f6fe;
  border-radius: 10px;
  background: #1376f8;
  width: 227px;
  height: 55px;
  display: inline-flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: flex-start;
  gap: 10px;
}
